/*******************************************************************************
********************************************************************************
									  						Basics
********************************************************************************
*******************************************************************************/

@font-face {
    font-family: 'envy_code_rregular';
    src: url('fonts/envy_code_r-webfont.woff2') format('woff2'),
         url('fonts/envy_code_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sega_logo_fontregular';
    src: url('fonts/sega-webfont.woff2') format('woff2'),
         url('fonts/sega-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	width: 100%;
	height: 100%;
	background: black;
  font-family: 'envy_code_rregular';
  background: url('img/eliotcharacter.jpg') center no-repeat / cover;
  transition: all .5s ease;
  color: white;
}

a{
  color: #00FF00;
  text-decoration: line-through;
}

h1{
  font-family: 'sega_logo_fontregular';
  font-size: 6rem;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 100px 0;
  letter-spacing: 20px;
  line-height: 120px;
  color: #CC0008;
  text-align: center;
}

button, input[type="submit"]{
  padding: 15px 30px;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  display: block;
  margin: 50px auto;
  outline: 0;
  font-family: 'envy_code_rregular';
  width: 50%;
  cursor: pointer;
}

.filter{
  background: rgba(0,0,0,0.75);
  height: 100vh;
}

.infos_begin{
    margin-top: 25%;
}


/* SoundAction */
#soundAction{
  position: absolute;
  width: 30px;
  left: 50px;
  top: 50px;
  transition: all .5s ease;
  cursor: pointer;
}

#soundAction:hover{
  opacity: .5;
}
/*******************************************************************************
********************************************************************************
									  						Specific css
********************************************************************************
*******************************************************************************/

/*Description page accueil*/
.intro-desc{
	text-align: center;
}

/*Liste de MDP - HELP*/
.helpMDP{
  color: #CC0008;
  cursor: pointer;
}
.listMDP{
  display: none;
}
.listMDP > p{
  width: auto;
  display: inline-block;
}
.NoHelp{
  display: none;
}
/*Niveau de santé d'Elliot*/
#EliotInfos{
  width: auto;
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 1em;
  color: white;
}

#EliotInfos > div{
  width: 100%;
  cursor: pointer;
}

.life > span{
  font-size: 2rem;
}

.ModifyInfos{
  width: auto;
}

.ModifyInfos > span{
  position: absolute;
  right: 0;
  top: -30px;
  transition: all .5s ease;
}

.ModifyInfos > span:first-of-type{
  color:#00FF00;
}


.ModifyInfos > span:not(:first-of-type){
  color:#CC0008;
}

/*Ensemble des .section sauf intro*/
.section:not(#intro){
	display: none;
  width: 50%;
  margin: 0 auto;
  padding-top:100px;
  color: white;
}


/*Formulaire d'envoi de réponse, pour MDP et Poisson*/
#ChercherMDP > form > label{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

#findMDPInput, #findFishInput{
  background: transparent;
  border: 1px solid #00FF00;
  color: white;
  font-size: 4rem;
  outline: 0;
  font-family: 'envy_code_rregular';
}

/*Cacher le logo de la librairie jqpuzzle + styles pour puzzle*/
#MessageDA a, #RepondreMessagePortableDarlene a{
  display: none !important;
}

.jqPuzzle{
  position: absolute;
  left: 20%;
}

.jqp-controls{display: none !important;}

.imgPuzzlePortableDarlene{
  width:50%;
  height: auto;
}


.skipPuzzleMessageAndLoose{
  display: block;
  position: absolute;
  left: 6%;
  top: 50%;
  width: 110px;
}
.skipPuzzleMessageAndWin{
  display: block;
  position: absolute;
  right: 6%;
  top: 50%;
  width: 110px;
}


/*Style pour les épreuves où l'utilisateur doit replacer dans le bon ordre les fonctions*/
#SuivreEnigme ul, #ContournerEnigme ul{
  padding: 0;
  text-decoration: none;
  list-style: none;
  width: 50%;
  display: block;
  margin: 50px auto 0 auto;
}

#SuivreEnigme li, #ContournerEnigme li{
  line-height: 30px;
  border: 1px solid green;
  padding-left: 10px;
  margin-bottom: 12px;
}


/*******************************************************************************
********************************************************************************
									  						Responsive css
********************************************************************************
*******************************************************************************/
@media screen and (max-width:640px) {
  .section:not(#intro) {
    padding-top: 150px;
  }
  .section{
    width: 80% !important;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
  }
  h1{
    font-size: 3rem;
    line-height: 80px;
  }
  button{
    width: 100%;
  }
  #findMDPInput, #findFishInput {
    font-size: 1.7rem;
  }
}
